body {
	font-family: Arial, sans-serif;
	margin: 0;
 
	padding: 0;
	background-color: #f1f1f1;
	background-image: url('/pexels-pixabay-258083.jpg');
	background-position: top left, bottom right;
	background-repeat: no-repeat;
	background-size: 130%, auto;
  text-decoration: none;
	animation: background-animation 20s infinite;
}

@keyframes background-animation {
	0% {
		background-position: top left, bottom right;
	}
	50% {
		background-position: center right, center left;
	}
	100% {
		background-position: top left, bottom right;
	}
}

header {
	background-color: #cccccc;
	color: #120e0e;
	padding: 10px 20px;
	display: flex;
  
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 30px;
	margin: 0;
  z-index: 99;

}

nav ul {
	list-style: none;
	margin: 0;
  z-index: 99;
	padding: 0;
  color: #120e0e;
	display: flex;
}

nav li {
  color: #120e0e;
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 30px;
}

h2 {
  color: #f1f1f1;
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
  color: #f1f1f1;
	font-size: 20px;
	margin-bottom: 10px;
}

p {
  color: #f1f1f1;
	font-size: 18px;
	line-height: 1.5;
	margin: 0 0 10px 0;
}

ul li {
  text-decoration: none;
	margin-bottom: 10px;
  color: #f1f1f1;
}

a {
	color: #333;
	text-decoration: none;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	margin: 0;
	font-size: 16px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

footer li {
	margin-left: 20px;
}

footer a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.main-image {
  display: block;
  margin: 0 auto;
  max-width: 200%;
  height:300px;
  border-radius: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
a {
  color: #fff;
}